:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: var(--chakra-colors-bg-subtle);
}

body {
    margin: 0;
    min-width: 320px;
}

button,
input,
textarea {
    font: inherit;
}
